<div class="row img-slider">
    <div class="slide-section">
        <div class="left-arrow">
            <i class="fa-solid fa-angle-left arrow-btn arrow-left"></i>
        </div>
        <div class="col-md-12 img-slides">
            <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                <input type="radio" name="radio-btn" id="slide-radio1">
                <input type="radio" name="radio-btn" id="slide-radio2">
                <input type="radio" name="radio-btn" id="slide-radio3">
                <input type="radio" name="radio-btn" id="slide-radio4">
                <input type="radio" name="radio-btn" id="slide-radio5">
                <input type="radio" name="radio-btn" id="slide-radio6">
                <input type="radio" name="radio-btn" id="slide-radio7">
                <div class="slider-item first">
                    <img src="~/Images/slider-1.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="slider-item">
                    <img src="~/Images/slider-2.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="slider-item">
                    <img src="~/Images/slider-3.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="slider-item">
                    <img src="~/Images/slider-4.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="slider-item">
                    <img src="~/Images/slider-5.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="slider-item">
                    <img src="~/Images/slider-6.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="slider-item">
                    <img src="~/Images/slider-7.jpg" alt="Image placeholder" class="img-fluid">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                    <div class="auto-btn5"></div>
                    <div class="auto-btn6"></div>
                    <div class="auto-btn7"></div>
                </div>
            </div>
        </div>
        <div class="right-arrow">
            <i class="fa-solid fa-angle-right arrow-btn arrow-right"></i>
        </div>
        <!-- END slider -->
    </div>
    <div class="navigation-manual">
        <label for="slide-radio1" class="manual-btn"></label>
        <label for="slide-radio2" class="manual-btn"></label>
        <label for="slide-radio3" class="manual-btn"></label>
        <label for="slide-radio4" class="manual-btn"></label>
        <label for="slide-radio5" class="manual-btn"></label>
        <label for="slide-radio6" class="manual-btn"></label>
        <label for="slide-radio7" class="manual-btn"></label>
    </div>
</div>