<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sogo Hotel by Colorlib.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">
</head>
<body>

    @{
        ViewBag.Title = "Rooms";
        ViewBag.Description = "Room";
        Html.RenderPartial("~/Views/Shared/_BackgroundIntroPartial.cshtml");
    }
    <!-- END section -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <div id="toast"></div>
    <section class="section pb-4">
        <div class="container">
            <div class="row check-availabilty" id="next">
                <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-7 mb-3 mb-lg-0 col-lg-5">
                                <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                                <div class="field-icon-wrap">
                                    <input type="date" id="checkin_date" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
                                </div>
                            </div>
                            <div class="col-md-7 mb-3 mb-lg-0 col-lg-5">
                                <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                                <div class="field-icon-wrap">
                                    <input type="date" id="checkout_date" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2 align-self-end">
                                <button class="btn btn-primary btn-block text-white avl-btn">Check Availabilty</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">

            <div class="row room-list">

            </div>

            <p class="book-btn js-book-btn" style="width: 10vw; margin-left: auto; margin-right: auto;">Book Now</p>
        </div>
    </section>

    <section class="section bg-light">

        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade">Great Offers</h2>
                    <p data-aos="fade">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>

            <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="100">
                <a href="#" class="image d-block bg-image-2" style="background-image: url('@Url.Content("~/Images/family.jpg")');"></a>
                <div class="text">
                    <span class="d-block mb-4"><span class="display-4 text-primary">750.000VND</span> <span class="text-uppercase letter-spacing-2">/ per night</span> </span>
                    <h2 class="mb-4">Family Room</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
            <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="200">
                <a href="#" class="image d-block bg-image-2 order-2" style="background-image: url('@Url.Content("~/Images/suite.jpg")');"></a>
                <div class="text order-1">
                    <span class="d-block mb-4"><span class="display-4 text-primary">1.250.000VND</span> <span class="text-uppercase letter-spacing-2">/ per night</span> </span>
                    <h2 class="mb-4">Suite Room</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>

        </div>
    </section>

    <!--<div class="room-form">
        <div class="room-container">
            <div class="room-thumb col-4 col-lg-4" style="background: url('@Url.Content("~/Images/img_1.jpg")') top center / cover no-repeat"></div>
            <div class="booking-room col-8 col-lg-8">
                <i class="fa-solid fa-x close-btn"></i>
                <form id="booking-form">
                    <h2>Room Type</h2>
                    <div class="form-group">
                        <input type="text" class="client-name" id="client-name" name="client-name" placeholder="Input Your Name">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="client-phone-number" id="client-phone-number" name="client-phone-number" placeholder="Input Your Phone Number">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="client-email" id="client-email" name="client-email" placeholder="Input Your Email">
                        <span class="form-message"></span>
                    </div>
                    <div class="date">
                        <div class="form-group">
                            <input type="date" id="checkin_booking" name="checkin_booking">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <input type="date" id="checkout_booking" name="checkout_booking">
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="client">
                        <div class="client-section">
                            <div class="form-group">
                                <label>Adults</label>
                                <input type="number" class="adults-number" id="adults-number" name="adults-number" placeholder="Adults">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="client-section">
                            <div class="form-group">
                                <label>Children</label>
                                <input type="number" class="children-number" id="children-number" name="children-number" placeholder="Children">
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>-->
                    @*<input src="#" type="submit" class="submit-form-btn" value="Submit">*@
                    <!--<button class="submit-form-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>-->
    <script src="~/Scripts/validate.js"></script>
    <script>
        Validator({
            form: '#booking-form',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#client-name', "Please enter your name"),
                Validator.isPhoneNumber('#client-phone-number'),
                Validator.isEmail('#client-email'),
                Validator.isRequired('#checkin_booking', "Please enter check in date"),
                Validator.isRequired('#checkout_booking', "Please enter check out date"),
                Validator.isValidQuantity('#adults-number', "Please enter adults quantity"),
                Validator.isValidQuantity('#children-number', "Please enter children quantity"),
            ],
            onSubmit: function (data) {
                console.log(data);
            }
        })
    </script>
</body>
</html>