    @{
        ViewBag.Title = "Services";
        ViewBag.Description = "Experience luxury and comfort at our hotel.";
        Html.RenderPartial("~/Views/Shared/_BackgroundIntroPartial.cshtml");
    }
    <!-- END section -->

    <div class="services-list">
        <div class="container">
            <div class="service-img col-6 col-lg-6" style="background-image: url('@Url.Content("~/Images/service1.png")');"></div>
            <div class="service-info col-6 col-lg-6">
                <div class="service-title">OUR RESTAURANT</div>
                <div class="service-name">Dining & Drinks</div>
                <div class="service-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud.
                </div>
                <div class="service-detail-btn">Learn more</div>
            </div>
        </div>
        <div class="container container-reverse">
            <div class="service-img col-6 col-lg-6" style="background-image: url('@Url.Content("~/Images/service1.png")');"></div>
            <div class="service-info col-6 col-lg-6">
                <div class="service-title">OUR RESTAURANT</div>
                <div class="service-name">Dining & Drinks</div>
                <div class="service-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud.
                </div>
                <div class="service-detail-btn">Learn more</div>
            </div>
        </div>
    </div>

    <section class="section testimonial-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade-up">People Says</h2>
                </div>
            </div>
            <div class="row">
                <div class="js-carousel-2 owl-carousel mb-5 user-review" data-aos="fade-up" data-aos-delay="200">

                    <div class="testimonial text-center slider-item">
                        <div class="author-image mb-3">
                            <img src="~/Images/user-1.png" alt="Image placeholder" class="rounded-circle mx-auto">
                        </div>
                        <blockquote>

                            <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                        </blockquote>
                        <p><em>&mdash; Jean Smith</em></p>
                    </div>

                    <div class="testimonial text-center slider-item">
                        <div class="author-image mb-3">
                            <img src="~/Images/user-2.png" alt="Image placeholder" class="rounded-circle mx-auto">
                        </div>
                        <blockquote>
                            <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                        </blockquote>
                        <p><em>&mdash; John Doe</em></p>
                    </div>

                    <div class="testimonial text-center slider-item">
                        <div class="author-image mb-3">
                            <img src="~/Images/user-3.png" alt="Image placeholder" class="rounded-circle mx-auto">
                        </div>
                        <blockquote>

                            <p>&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.&rdquo;</p>
                        </blockquote>
                        <p><em>&mdash; John Doe</em></p>
                    </div>

                </div>
                <!-- END slider -->
            </div>

        </div>
    </section>

    <section class="section bg-image overlay" style="background-image: url('@Url.Content("~/Images/hero_4.jpg")');">
        @{
            Html.RenderPartial("~/Views/Shared/_ReserveRecommend.cshtml");
        }
    </section>